body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50vh;
    border: 1px solid black;
    height: 50vh;
}

.board-container > div {
    display: flex;
    flex: auto;
    border: 1px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.board-container > div > p {
    font-size: 2rem;
}